* {
	margin: 0;
	box-sizing: border-box;
}

.container {
	display: flex;
	flex-wrap: wrap;
}

header {
	flex-basis: 100%;
	order: 1;
	background-color: blue;
	font-size: 2em;
	display: flex;
	align-items: center;
	justify-content: center;
}

.aside {
	min-height: 200px;
}

.left {
	background-color: rgb(64, 207, 126);
	flex-basis: 20%;
	order: 2;
}

.main {
	flex-basis: 60%;
	order: 3;
	min-height: 300px;
	background-color: rgb(194, 46, 172);
}

.right {
	background-color: rgb(200, 254, 84);
	flex-basis: 20%;
	order: 4;
}

footer {
	flex-basis: 100%;
	order: 5;
	background-color: coral;
	font-size: 2em;
	display: flex;
	align-items: center;
	justify-content: center;
}

@media (max-width: 992px) {
	.left {
		flex-basis: 100%;
		order: 4;
	}

	.main {
		flex-basis: 70%;
		order: 2;
	}

	.right {
		flex-basis: 30%;
		order: 3;
	}
}

@media (max-width: 768px) {
	.left {
		flex-basis: 100%;
		order: 3;
	}

	.main {
		flex-basis: 100%;
		order: 2;
	}

	.right {
		flex-basis: 100%;
		order: 4;
	}
}
